<!DOCTYPE html>
<html lang="en">

<head>
    <title>MCSC: Help Find Me</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Missing Children Society of Canada: Help Find Me My Profile">
    <meta name="author" content="Jef King, Nastassia Rashid, Pierre Roman, Marc Gagne, Corey Fowler, Abdel Mohamed, Matt Mason">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>