<%- include ../views/partials/header.ejs %>

	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<img src="https://s3-us-west-2.amazonaws.com/mcsc-media-library/site-images/logo-horizontal-white.png" alt="logo" />
						<h1><strong>We Reunite Families</strong></h1>
						<div class="description">
							<p>By registering you are opting in for the HELP FIND ME PROGRAM</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3>Register with:</h3>
								<p> This information will only be used if triggered through one of your social media accounts by including #HFM in a
									post.
								</p>
							</div>
							<div class="form-top-right">
								<i class="fa fa-lock"></i>
							</div>
						</div>
						<div class="form-bottom">
							<div class="row">
								<div class="col social-login" style="text-align:center">
									<div class="social-login-buttons">
										<a class="btn btn-link-2" href="/auth/instagram">
											<i class="fa fa-instagram"></i> Instagram
										</a>
										<a class="btn btn-link-2" href="/auth/facebook">
											<i class="fa fa-facebook"></i> Facebook
										</a>
										<a class="btn btn-link-2" href="/auth/twitter">
											<i class="fa fa-twitter"></i> Twitter
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ../views/partials/footer.ejs %>